/* .letters{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;

} */

.fullDiv{
    padding: 5%;
    
}

.paper{
    border: 1px solid black;
    border-radius: 5px;
    padding: 4%;
    background-color: white;
}


.today{
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* display: flex; */
    
    
}

.letter{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #414344;
}

.time{
    color: rgba(60,64,67,0.541);
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 10px;
    max-width: 170px;
    text-align: right;
    white-space: normal;
}

.timee{
    color: rgba(60,64,67,0.541);
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 10px;
    max-width: 178px;
    text-align: right;
    white-space: normal;
}

.place{
    color: #414344;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 3px;
    max-width: 200px;
    white-space: normal;
}

.reminderPopper {
    width: 250px;
    height: fit-content;
  }
  
  .saveDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.dropdown{
    padding: 7px 3px;
}

.btn{
    margin: 0;
    padding: 10px;
    margin-left: 75%;
    margin-top: 12px;
}